.modal-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
}
.modal-content {
  z-index: 9999;
  position: fixed;
  background-color: #fff;
  border-radius: 24px;
  top: 45%;
  left: 50%;
  width: 384px;
  min-height: 536px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px;
  padding-top: 48px;

  .close-modal {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.3);

    &:hover {
      transform: scale(1.6);
    }
  }
}
@media (max-width: 406px) {
  .modal-content {
    width: 330px;
    top: 50%;
  }
}

@media (max-width: 353px) {
  .modal-content {
    width: 285px;
    top: 53%;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: fit-content;
  }
  .modal-card {
    margin-bottom: 0;
  }
  .modal-card .modal-card-footer {
    margin-top: 5px;
  }
}

@media (max-width: 280px) {
  .modal-content {
    width: 266px;
  }
}

@media (max-height: 640px) {
  .modal-content {
    position: fixed;
    top: 50%;
  }
}

@media (max-height: 540px) {
  .modal-content {
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: fit-content;
  }
}

@media (max-height: 375px) {
  .modal-content {
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: fit-content;
  }
  .modal-card {
    margin-bottom: 0;
  }
}
